.content-admin {
    font-size: 15px;
}

.mail-container, .user-container, .shop-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 40px auto;
}

.user-container, .shop-container{
    padding-top: 30px;
    border-top: 15px dotted skyblue;
}

.mail-title, .user-title, .shop-title{
    font-size: 24px;
    font-weight: 600;
}

.mail-form{
    width: 50%;
}

.mail-form_item{
    width: 100%;
    margin: 10px;
}

.mail-form_item-name{
    font-size: 18px;
    font-weight: bold;
}

.mail-form_title, .mail-form_email, .mail-form_text, .mail-form_item-button{
    width: 100%;
    height: 40px;
    padding: 2px;
    font-size: 17px;
}

.mail-form_text{
    height: 100px;
}

.mail-form_item-button{
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #0073CC;
}

.user-table{
    width: 80%;
    margin: 15px 0;
}

.table-row{
    border-bottom: 1px solid skyblue;
}

.user-delete_button{
    border: none;
    border-radius: 4px;
    background-color: #0073CC;
    color: white;
}

.shop-wrapper{
    width: 65%;
}

.shop-item_wrapper{
    margin: 15px 0;
    padding: 10px;
    border-radius: 5px;
    background-color: skyblue;
}

.shop-item_detail{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    padding: 5px;
    align-items: center;
    background-color: white;
}

.item-image{
    width: 100px;
    height: 100px;
}

.detail-form_button{
    margin-right: 15px;
    border: none;
    background: none;
    color: #0073CC;
}

.back-link{
    text-decoration: none;
}