.content-comment {
    display: flex;
    justify-content: space-between;
    padding: 50px 12%;
}

.item-image_wrapper {
    display: flex;
    justify-content: center;
    width: 320px;
    margin-top: 30px;
}

.item-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: #D9D9D9;
    font-size: 30px;
}

.item-image_image {
    display: flex;
    width: 100%;
}

.item-comment_wrapper {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.item-name {
    margin-bottom: -5px;
    font-size: 30px;
}

.item-brand {
    margin-bottom: 5px;
    font-size: 14px;
}

.item-price {
    margin: 2px 0;
    font-size: 20px;
}

.mark-container {
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 10px 0;
}

.like-form {
    width: 22px;
    height: 22px;
    background-image: url(../img/like.png);
    background-size: cover;
}

.unlike-form {
    width: 22px;
    height: 22px;
    background-image: url(../img/liked.png);
    background-size: cover;
}

.comment-form_link {
    width: 22px;
    height: 22px;
    background-image: url(../img/comment.png);
    background-size: cover;
}

.like-button, .unlike-button, .comment-button {
    width: 22px;
    height: 22px;
    border: none;
    background: none;
}

.mark-number {
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-weight: 600;
}

.comment-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
}

.comment-wrapper{
    margin-bottom: 10px;
}

.comment-user_wrapper{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.last-comment{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
}

.user-icon{
    width: 22px;
    height: 22px;
    border-radius: 10px;
    background-color: #D9D9D9;
}

.user-name{
    margin: 0 5px;
    font-size: 14px;
    font-weight: bold;
}

.user-comment_delete-button{
    margin: 0 10px;
    border: none;
    border-radius: 3px;
    background-color: #0073CC;
    font-size: 14px;
    color: white;
}

.user-comment{
    width: 100%;
    padding: 7px 5px;
    border-radius: 3px;
    background-color: #D9D9D9;
    white-space: pre-wrap;
    font-size: 14px;
}

.toggle-comment{
    border: none;
    background: none;
    font-size: 12px;
    color: #0073CC;
}

.comment-form{
    width: 100%;
    margin-top: 40px;
}

.comment-form_item-wrapper{
    display: flex;
    flex-direction: column;
}

.comment-form_item-name{
    font-size: 14px;
    font-weight: bold;
}

.comment-form_item-text{
    width: 100%;
    height: 120px;
    border: 1px solid #5F5F5F;
    border-radius: 3px;
    font-size: 14px;
}

.comment-form_button{
    width: 100%;
    margin-top: 15px;
    padding: 5px 0;
    border: none;
    border-radius: 3px;
    background-color: #FF5555;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

@media screen and (max-width:768px) {
    .content-comment{
        padding: 50px 8%;
    }

    .item-image_wrapper{
        width: 240px;
    }

    .item-image{
        height: 320px;
    }
}

@media screen and (min-width:1440px) {
    .item-image_wrapper{
        width: 450px;
    }

    .item-image{
        height: 570px;
    }

    .item-comment_wrapper{
        width: 450px;
    }

    .item-name{
        font-size: 38px;
    }

    .item-brand{
        font-size: 18px;
    }

    .item-price{
        font-size: 27px;
    }

    .like-form, .comment-form_link{
        width: 30px;
        height: 30px;
    }

    .mark-number, .toggle-comment{
        font-size: 15px;
    }

    .user-icon{
        width: 35px;
        height: 35px;
        border-radius: 35px;
    }

    .user-name, .user-comment, .comment-form_item-text{
        font-size: 18px;
    }

    .comment-form_item-name{
        font-size: 20px;
    }

    .comment-form_button{
        font-size: 22px;
    }
}