.app-header{
    display: flex;
    height: 50px;
    background-color: black;
}

.header-logo{
    width: 27%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
}

.header-logo_link{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-logo_image{
    width: 100%;
}

.content-nav {
    display: flex;
    align-items: center;
    width: 70%;
    margin-left: 20px;
}

.search-form_wrapper{
    display: flex;
    align-items: center;
    width: 55%;
    height: 100%;
}

.search-form{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80%;
}

.search-form_item{
    width: 100%;
    height: 75%;
    border: none;
    border-radius: 3px;
}

.menu-nav{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 44%;
    white-space: nowrap;
}

.menu-nav_link{
    margin-left: 25px;
    text-decoration: none;
    font-size: 16px;
    color: white;
}

.menu-nav_link-sell{
    padding: 5px 15px;
    border-radius: 3px;
    background-color: white;
    color: black;
}

.logout-form_button{
    border: none;
    background: none;
}

.error-wrapper {
    width: 100%;
}

.error-has {
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #FF5555;
}

.error-message_wrapper {
    padding: 15px;
    background-color: #FF5555;
}

.error-message {
    font-size: 18px;
    color: white;
}

.alert, .message{
    padding: 10px;
    background-color: #0073CC;
    font-weight: bold;
    color: white;
}

.pagination {
    display: flex;
    font-size: 20px;
}

@media screen and (max-width:768px) {
    .menu-nav {
        width: unset;
    }

    .menu-nav_link{
        margin-left: 20px;
        font-size: 15px;
    }
}

@media screen and (min-width:1440px) {
    .app-header{
        height: 75px;
    }

    .menu-nav_link{
        margin-left: 30px;
        font-size: 20px;
    }
}