.content-detail{
    display: flex;
    justify-content: space-between;
    padding: 50px 12%;
}

.item-image_wrapper{
    display: flex;
    justify-content: center;
    width: 320px;
    margin-top: 30px;
}

.item-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: #D9D9D9;
    font-size: 30px;
}

.item-image_image{
    display: flex;
    width: 100%;
}

.item-detail_wrapper{
    display: flex;
    justify-content: center;
    width: 320px;
}

.item-detail{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.item-name{
    margin-bottom: -5px;
    font-size: 30px;
}

.item-brand{
    margin-bottom: 5px;
    font-size: 14px;
}

.item-price{
    margin: 2px 0;
    font-size: 20px;
}

.mark-container{
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: 10px 0;
}

.like-form{
    width: 22px;
    height: 22px;
    background-image: url(../img/like.svg);
    background-size: cover;
}

.unlike-form{
    width: 22px;
    height: 22px;
    background-image: url(../img/liked.svg);
    background-size: cover;
}

.comment-form_link{
    width: 22px;
    height: 22px;
    background-image: url(../img/comment.svg);
    background-size: cover;
}

.like-button, .unlike-button, .comment-button{
    width: 22px;
    height: 22px;
    border: none;
    background: none;
}

.mark-number{
    display: flex;
    justify-content: center;
    font-size: 10px;
    font-weight: 600;
}

.purchase-form{
    width: 100%;
}

.purchase-button{
    width: 100%;
    padding: 5px 0;
    border: none;
    border-radius: 3px;
    background-color: #FF5555;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.description-title{
    margin-bottom: 0;
    font-size: 23px;
}

.item-color, .item-description{
    margin: 3px 0;
    white-space: pre-wrap;
    font-size: 14px;
}

.information-title {
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 23px;
}

.category-wrapper, .condition-wrapper{
    display: flex;
    margin: 15px 0;
    font-size: 14px;
}

.category-title, .condition-title{
    font-size: 15px;
    font-weight: bold;
    width: 130px;
    margin-right: 40px;
}

.category-tag_wrapper{
    display: flex;
    flex-wrap: wrap;
}

.category-tag{
    text-align: center;
    height: 18px;
    margin: 0 10px 5px;
    padding: 0 10px;
    border-radius: 10px;
    background-color: #D9D9D9;
}

.condition-tag{
    text-align: center;
    height: 18px;
    margin: 0 10px;
}

@media screen and (max-width:768px) {
    .content-detail{
        padding: 50px 8%;
    }

    .item-image{
        width: 240px;
        height: 320px;
    }

    .item-detail_wrapper{
        width: 280px;
    }

    .category-title, .condition-title{
        margin-right: 0;
    }
}

@media screen and (min-width:1440px) {
    .item-image_wrapper{
        width: 450px;
    }

    .item-image{
        height: 570px;
    }

    .item-detail_wrapper{
        width: 450px;
    }

    .item-name{
        font-size: 38px;
    }

    .item-brand{
        font-size: 17px;
    }

    .item-price{
        font-size: 27px;
    }

    .like-form, .comment-form_link{
        width: 30px;
        height: 30px;
    }

    .mark-number{
        font-size: 15px;
    }

    .purchase-button{
        font-size: 22px;
    }

    .description-title, .information-title{
        font-size: 27px;
    }

    .item-color, .item-description, .category-tag, .condition-tag{
        font-size: 18px;
    }

    .category-title, .condition-title{
        font-size: 20px;
    }
}