.content-purchase{
    padding: 40px 5%;
}

.purchase-form{
    display: flex;
}

.item-info_wrapper{
    width: 60%;
}

.item-wrapper{
    display: flex;
    padding: 20px;
}

.item-image_wrapper{
    display: flex;
    justify-content: center;
    width: 80px;
}

.item-image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100px;
    background-color: #D9D9D9;
    font-size: 14px;
}

.item-image_image{
    width: 100%;
}

.item-name_price{
    margin-left: 50px;
}

.item-name{
    margin-top: 5px;
    font-size: 20px;
}

.link-wrapper{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 100px;
}

.address-name, .payment-name{
    font-size: 16px;
    font-weight: bold;
}

.address-link, .payment-link{
    text-decoration: none;
    font-size: 14px;
    color: #0073CC;
}

.payment-wrapper{
    display: flex;
    flex-direction: column;
    width: 40%;
    padding-left: 60px;
}

.payment-table_wrapper{
    padding: 25px;
    border: 1px solid #5F5F5F;
}

.payment-table{
    width: 100%;
    font-size: 14px;
}

.table-row{
    height: 30px;
    text-align: left;
}

.table-header{
    font-weight: lighter;
}

.payment-button{
    margin-top: 40px;
    border: none;
    border-radius: 3px;
    background-color: #FF5555;
    font-size: 20px;
    font-weight: bold;
    color: white;
}