.content-sell{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}

.page-title {
    margin: 25px 0;
    font-size: 25px;
}

.sell-form{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.sell-form_item-name{
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: bold;
}

.sell-form_item-file_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 140px;
    border: 2px dotted #5F5F5F;
    border-radius: 3px;
}

.sell-form_item-file_wrapper {
    padding: 5px 25px;
    text-decoration: none;
    border: 2px solid #FF5555;
    border-radius: 7px;
    font-size: 18px;
    font-weight: bold;
    color: #FF5555;
}

.sell-form_item-file{
    display: none;
}

.detail-title, .name-description-title, .price-title{
    margin-top: 40px;
    border-bottom: 1px solid #5F5F5F;
    font-size: 22px;
    color: #5F5F5F;
}

.sell-form_item-wrapper {
    width: 100%;
}

.sell-form_item-option {
    height: 20px;
}

.sell-form_item-input, .sell-form_item-input_price{
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    border: 1px solid #5F5F5F;
    border-radius: 3px;
    font-size: 17px;
}

.sell-form_item-input_wrapper{
    position: relative;
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
}

.sell-form_item-input_price{
    position: absolute;
    padding-left: 22px;
}

.sell-form_item-input_span{
    position: absolute;
    top: 5px;
    left: 5px;
    font-size: 22px;
    font-weight: bold;
    color: #5F5F5F;
}

.sell-form_button{
    width: 100%;
    height: 40px;
    margin: 40px 0;
    border: none;
    border-radius: 3px;
    background-color: #FF5555;
    font-size: 17px;
    font-weight: bold;
    color: white;
}

.error-wrapper {
    width: 100%;
}

.error-has {
    padding: 10px;
    font-size: 25px;
    font-weight: bold;
    color: #FF5555;
}

.error-message_wrapper {
    padding: 15px;
    background-color: #FF5555;
}

.error-message {
    font-size: 18px;
    color: white;
}